body {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
}
body, body * {
  box-sizing: border-box;
}
h1 {
  font-size: 15px;
}

#container {
  align-items: center;
  display: block;
  justify-content: space-between;
  /*min-width: 800px;*/
  clear: both;
}
select {
  float: right;
}
#target {
  min-height: 120px;
}
#checklist, #target {
  border: 1px solid #ccc;
  vertical-align: top;
  display: inline-block;
  width: 45%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 500px;
}
#checklist li {
  list-style: none;
}